h1{
	margin-right: 1060px;
	margin-left: 200px;
	background-color: lightblue;
	color: navy;
	font-family: Times New Roman;
	font-size: 150%;
	#margin-left: 100px;
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
}

#world{
	border-style: solid;
	height:300px;
	width:100px;
}


PIR1{
	background-color: red;
	border-right-style: solid;
	border-left-style: solid;
}

PIR2{
	background-color: green;
	border-right-style: solid;
	border-left-style: solid;
}

PIR3{
	background-color: red;
	border-right-style: solid;
	border-left-style: solid;
}

PIR4{
	background-color: green;
	border-right-style: solid;
	border-left-style: solid;
}

Titles{
	border-style: solid;
}